{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>ReciTips</title>
        <meta name="description" content="Busca en la unica pagina de recetas donde puede elegir los ingredientes que tendra tu receta. Las mejores recetas de comida, postres, tragos y diseños divertidos para niños y adultos" />
        <meta name="author" content="Teamus solutions" />
        <meta name="copyright" content="teamussolutions.com" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" itemprop="keywords" content=" recetas gratis, gastronomia, tips, comida, comidas, cocina, recetas, comida tradicional, comida tipica, cocina tipica, postres, tragos, venezuela, chile, colombia, peru, eeuu, ecuador, argentina, mexico, gratis" />
		<link rel="shortcut icon" href="{% static 'images/cangrejo_ico.png' %}" type="image/x-icon">
		<!-- CSS
        ================================================ -->
        <!-- Owl Carousel -->
		<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
        <!-- bootstrap.min css -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <!-- Font-awesome.min css -->
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <!-- Main Stylesheet -->
        <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">

		<link rel="stylesheet" href="{% static 'css/main.css' %}">
        <!-- Responsive Stylesheet -->
		<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
	
    
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
    <script>window.jQuery || document.write('<script src="{% static "js/vendor/jquery-1.10.2.min.js" %}"><\/script>')</script>
    <script src="{% static 'js/jquery.nav.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    
    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery UI CSS -->
    <link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" type="text/css" rel="stylesheet">
    <!-- Bootstrap styling for Typeahead 
    <link href="dist/css/tokenfield-typeahead.css" type="text/css" rel="stylesheet">-->
    <!-- Tokenfield CSS -->
    <link href="{% static 'lib/typeahead/dist/css/bootstrap-tokenfield.css' %}" type="text/css" rel="stylesheet">
    <!-- Docs CSS -->
    <link href="{% static 'lib/typeahead/docs-assets/css/pygments-manni.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'lib/typeahead/docs-assets/css/docs.css' %}" type="text/css" rel="stylesheet">
    {% block custom_styles %}{% endblock %}
	</head>

    <div id="fb-root"></div>
      
      <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-81943936-1', 'auto');
      ga('send', 'pageview');

    </script>


    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.7";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

	<body>
    {% block layout %}{% endblock %}
	</body>

  <script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script type="text/javascript" src="{% static 'lib/typeahead/dist/bootstrap-tokenfield.js' %}" charset="UTF-8"></script>
  <script type="text/javascript" src="{% static 'lib/typeahead/docs-assets/js/scrollspy.js' %}" charset="UTF-8"></script>
  <script type="text/javascript" src="{% static 'lib/typeahead/docs-assets/js/affix.js' %}" charset="UTF-8"></script>
  <script type="text/javascript" src="{% static 'lib/typeahead/docs-assets/js/typeahead.bundle.min.js' %}" charset="UTF-8"></script>
  <script type="text/javascript" src="{% static 'lib/typeahead/docs-assets/js/docs.min.js' %}" charset="UTF-8"></script>

 
  <script>
  $( "#buscar" ).click(function() {
    $( "#recetas" ).css('display', '')
    $( "#blog" ).css('display', 'none')
  });
  var ingredients= []
  {% for i in ingredients %}
      ingredients.push('{{i.name}}');
  {% endfor %}

  console.log(ingredients)
  $('#tokenfield-1').tokenfield({
      autocomplete: {
        source: ingredients,
        delay: 100
      },
      showAutocompleteOnFocus: true,
      delimiter: [',',' ', '-', '_']
  });
  </script>
  {% block custom_scripts %}{% endblock %}
</html>