{% extends "layout.html" %}

{% block content %}
<section id="slider">
          
        <div class="container">
        <div class="row">
            <div class="col-md-12">
                          <div class="block row">
            <h1 class=" wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms" style="color: #ff530a;">Para más información contactanos a:</h1>
            {%if aceptado %}
              <div class="alert alert-success" role="alert">Enviado</div>
            {%endif%}
            <form action="" method="post" id=""> {% csrf_token %}
              <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
                <input type="text" class="form-control" id="name_s" name="name_s" placeholder="Nombre y Apellido">
              </div>
              <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="800ms">
                <input type="email" class="form-control" id="correo_s" name="correo_s" placeholder="Correo electrónico">
              </div>
              <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1000ms">
                <textarea class="form-control" rows="3" id="mensaje_s" name="mensaje_s" placeholder="Mensaje"></textarea>
              </div>
            </form>
            <button type="submit" class="btn btn-default pull-right" id="buscar">Contactar</button>
          </div>
            </div>
        </div>

    
        



{% endblock %}
