{% extends "layout.html" %}

{% load staticfiles %}

{% block content %}
    

    
        <div class="container">
         <div class="row">
            <div class="col-lg-12">
                <br>

                <!-- Title -->
                <h1><span style="font-size: 45px; color: #ff530a; font-weight: 600;">{{recipe.name}}</span></h1>

                <!-- Author -->
                <p class="lead">
                    Receta creada por: <a href="{{recipe.creator}}">{{recipe.creator}}</a>
                </p>

                <hr>

                <!-- Date/Time -->
                <p><h4><i class="fa fa-clock-o" aria-hidden="true"></i> {{recipe.tiempo}} min <i class="fa fa-user" aria-hidden="true"></i> {{recipe.porciones}} porciones
    <i class="fa fa-cutlery" aria-hidden="true"></i> {{recipe.pais}} 
    </h4></p>

                <hr>
                
             </div>
        </div>

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">
                    

  
                
                <div class="row">
                <div class="col-lg-6">
                    <!-- Preview Image -->
                    <img class="img-responsive" src="{{recipe.imagen_principal}}" alt="">
                </div>
                <div class="col-lg-6">
                    <div class="well well-lg col-md-12">
                    <h1> Ingredientes:</h1>
                    <br>
                    {%for ingredient in ingredients%}

                        <p>{{ingredient.cantidad}}</p>

                    {%endfor%}
                    </div>
                </div>
                
                </div>

                <hr>

                <!-- Post Content -->

                <h1> Procedimiento:</h1>
                 <script type="text/javascript">
var ad_idzone = "2187071",
	 ad_width = "728",
	 ad_height = "90";
</script>
<script type="text/javascript" src="https://ads.exdynsrv.com/ads.js"></script>
<noscript><a href="http://main.exdynsrv.com/img-click.php?idzone=2187071" target="_blank"><img src="https://syndication.exdynsrv.com/ads-iframe-display.php?idzone=2187071&output=img&type=728x90" width="728" height="90"></a></noscript>
                <br>
                <div class="box-procedimiento">
                    {% autoescape off %} {{recipe.content}} {% endautoescape %}
                </div>
               

                <hr>

                <!-- Blog Comments -->


            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Top recetas</h4>
                    <div class="row">
                        <div class="col-lg-12">
                           <br>
                            <ul class="list-unstyled">
                                {%for i in recipes_random %}
		                            <li><a href="/">{{i}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                
                <script type="text/javascript">
var ad_idzone = "2187087",
	 ad_width = "300",
	 ad_height = "600";
</script>
<script type="text/javascript" src="https://ads.exdynsrv.com/ads.js"></script>
<noscript><a href="http://main.exdynsrv.com/img-click.php?idzone=2187087" target="_blank"><img src="https://syndication.exdynsrv.com/ads-iframe-display.php?idzone=2187087&output=img&type=300x600" width="300" height="600"></a></noscript>
               
                <!-- Begin BidVertiser code -->
<SCRIPT SRC="http://bdv.bidvertiser.com/BidVertiser.dbm?pid=738178&bid=1825259" TYPE="text/javascript"></SCRIPT>
<!-- End BidVertiser code --> 

               

            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
<div class="container">
    <div class="fb-comments" data-href="http://recitips.com/" data-width="900" data-numposts="5" style="text-align:center"></div>
</div>
{% endblock %}
    