{% extends "layout.html" %}

{% load staticfiles %}

{% block content %}
    
        <div class="container">
         <div class="row">
            <div class="col-lg-12">
                <br>

                <!-- Title -->
                <h1><span style="font-size: 45px; color: #ff530a; font-weight: 600;">{{tip.name}}</span></h1>

                <!-- Author -->
                <p class="lead">
                    por <a href="#">{{tip.creator}}</a>
                </p>

                <hr>
                
             </div>
        </div>

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">
                    

  
                
                <div class="row">
                <div class="col-lg-12">
                    <!-- Preview Image -->
                    <img class="img-responsive" src="{{tip.imagen}}" alt="">
                </div>
                
                </div>

                <hr>

                <!-- Post Content -->

                <h1> Consejo:</h1>
                <br>
                <p>
                    {% autoescape off %} {{tip.content}} {% endautoescape %}
                </p>
               

                <hr>

                <!-- Blog Comments -->


            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Top recetas</h4>
                    <div class="row">
                        <div class="col-lg-12">
                           <br>
                            <ul class="list-unstyled">
                                {%for i in recipes_random %}
		                            <li><a href="/">{{i}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>



            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->
<div class="container">
    <div class="fb-comments" data-href="http://recitips.com/tips" data-width="900" data-numposts="5" style="text-align:center"></div>
</div>
{% endblock %}