<footer id="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="block">
                    <p>Copyright &copy; 2016 - Todos los derechos reservados <a href="http://www.teamussolutions.com">TeamUs Solutions</a></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            <p><a href="/nosotros"  target="_blank">Nosotros</a></p>
            <p><a href="/contacto" target="_blank">Contacto</a></p>
            <p><a href="/politicas" target="_blank">Políticas de privacidad</a></p>
            </div>
            
        </div>
    </div>
</footer>