{% load staticfiles %}
<div class="container" style="position: absolute;
top: 210px;
left: 22%;
max-width: 700px;">
<nav class="navbar navbar-default" style="border-radius: 0px;
border-top: medium none;">
  <div class="container">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li {%if type_name == 'Postre'%} class="active"{%endif%}><a href="/type_recetas/1/Postre">Postres <span class="sr-only">(current)</span></a></li>
        <li {%if type_name == 'Light'%} class="active"{%endif%}><a href="/type_recetas/1/Light">Light</a></li>
        <li {%if type_name == 'Tragos'%} class="active"{%endif%}><a href="/type_recetas/1/Tragos">Tragos</a></li>
        <li {%if type_name == 'Fondo'%} class="active"{%endif%}><a href="/type_recetas/1/Fondo">Fondos</a></li>
        <li {%if type_name == 'Salsas'%} class="active"{%endif%}><a href="/type_recetas/1/Salsas">Salsas</a></li>
        <li {%if type_name == 'divertidos'%} class="active"{%endif%}><a href="/type_recetas/1/divertidos">Platos divertidos</a></li>
        <li {%if type_name == 'Ensaladas'%} class="active"{%endif%}><a href="/type_recetas/1/Ensaladas">Ensaladas</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>



<!--
header-img start 
============================== -->
<section id="hero-area" style="height: 210px;background-image: url('{% static 'images/header.jpg' %}');">
</section>
<!--
Header start 
============================== -->
<nav id="navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block" style="padding-top: 15px;">
                    <nav class="navbar navbar-default">
                      <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                              
                              
                               <h1 style="color: #333; margin-top: 0px;"> <a href="/recetas" style="font-size: 36px; color: #333"> <img src="{% static 'images/cangrejo.png' %}" alt="" width="100"> <span style="font-size: 45px; color: #ff530a; font-weight: 600;"> Reci</span>Tips</a> </h1>
                              

                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                          <ul class="nav navbar-nav navbar-right" id="top-nav">
                            <li {%if header == 'home'%}class="active"{%endif%}><a href="/recetas">Inicio</a></li>
                            <li {%if header == 'tips'%}class="active"{%endif%}><a href="/tips">Tips</a></li>
                          </ul>
                        </div><!-- /.navbar-collapse -->
                      </div><!-- /.container-fluid -->
                    </nav>
                </div>
            </div><!-- .col-md-12 close -->
        </div><!-- .row close -->
    </div><!-- .container close -->
</nav><!-- header close -->

