{% extends "layout.html" %}

{% block content %}
<section id="slider">
          
        <div class="container">
        <div class="row">
            <div class="col-md-12">
                <blockquote style="border-left: 5px solid #FF5333;">
                    <p>La única página de recetas que te da una opcion de comida en base a lo que tienes en tu despensa. </p>
                </blockquote>
                 <!-- Begin BidVertiser code -->
<SCRIPT SRC="http://bdv.bidvertiser.com/BidVertiser.dbm?pid=738178&bid=1825015" TYPE="text/javascript"></SCRIPT>
<!-- End BidVertiser code --> 
            </div>
        </div>

        <form action="" method="post" id="recetas"> {% csrf_token %}
          <div class="row">
            <!--BUSCADOR DE RECETAS-->
            <div class="col-md-9">
              <div class="panel panel-default">
                <div class="panel-heading">Buscador de recetas</div>
                <div class="panel-body">
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 control-label">Nombre de la receta</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="name"  name="name" placeholder="" value="{{form_name}}">
                    </div>
                  </div>
                  <div class="form-group row" style="height: 34px;">
                    <label for="inputPassword3" class="col-sm-3 control-label">Ó ingredientes</label>
                    <div class="col-sm-9">
                      <div class="form-group">
                        <input type="text" class="form-control" id="tokenfield-1" name="ingredients" value="{{form_ingredients}}" placeholder="" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding: 0;">
                      <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">Categoría</label>
                        <div class="col-sm-9">
                          <select class="form-control" id="category" name="category">
                          <option value="">Seleccionar categoría</option>
                          {% for i in category%}
                          <option value="{{i.id}}" {%if i.id == form_category %} selected {% endif %} >{{i.name}}</option>
                          {% endfor %}
                        </select>
                        </div>
                      </div>   
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding: 0;">
                      <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">País</label>
                        <div class="col-sm-10">
                          <select class="form-control" id="country" name="country">
                          <option value="">Seleccionar país</option>
                          {% for i in country%}
                          <option value="{{i.id}}" {%if i.id == form_country %} selected {% endif %} >{{i.name}} </option>
                          {% endfor %}
                        </select>
                        </div>
                      </div>
                      </div>
                    </div>
                    <div class="row" style="margin-top: 15px;">
                     <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding-left: 35px;">
                        <div class="form-group">
                          <div class="checkbox" style="padding-left: 0px;">
                            <label>
                              <input type="checkbox" id="low" name="low" {%if form_low %} checked {% endif %}> Recetas bajas en calorias
                            </label>
                          </div> 
                        </div>
                      </div>
                      
                      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        <div class="form-group">
                          <button type="submit" class="btn btn-default pull-right" id="buscar">Buscar</button>
                        </div>
                      </div>
                      
                    </div>
                </div>
              </div>
            </div>
            <!--END BUSCADOR DE RECETAS-->

            <!--TOP RECETAS-->
            <div class="col-md-3 container hidden-sm hidden-xs">
              <div class=" well ">
                <h4>Top recetas</h4>
                <div class="row">
                  <div class="col-lg-12">
                    <br>
                    <ul class="list-unstyled" style="line-height: 23px;">
                        {%for i in recipes_random %}
                          <li><a href="/detalles/{{i.pk}}">{{i}}</a></li>
                        {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!--END TOP RECETAS-->
          </div>
        </form>
        
        {% if post %}
          <div class="row" id="recetas">{% csrf_token %}
            <div class="col-md-9">
              {%for recipe in recipes%}
                <div class="row">
                  <div class="col-md-4">
                    <a href="/detalles/{{recipe.recipe_object.pk}}">
                      <div class="wrapper" style="background-image: url('{{recipe.recipe_object.imagen_principal}}')">
                        <div class="ribbon-wrapper-green">
                          {% if recipe.recipe_object.light %}
                            <div class="ribbon-green">&nbsp;&nbsp;  Bajas calorías</div>
                          {% endif %}
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-8">
                    <a href="/detalles/{{recipe.recipe_object.pk}}"><h3>{{recipe.recipe_object.name}}</h3></a>
                    <br>
                    <h4>
                      {% if recipe.recipe_object.tiempo %}
                        <i class="fa fa-clock-o" aria-hidden="true"></i> {{recipe.recipe_object.tiempo}} min 
                      {% endif %}
                      {% if recipe.recipe_object.porciones %}
                        <i class="fa fa-user" aria-hidden="true"></i> {{recipe.recipe_object.porciones}}
                      {% endif %}
                      <i class="fa fa-cutlery" aria-hidden="true"></i> {{recipe.recipe_object.pais}}
                      {% if recipe.recipe_object.plato  %}  {{recipe.recipe_object.plato}}
                      {% endif %}
                    </h4>
                    <p>
                      {%for ingredients in recipe.ingredients_active%}
                        <span style="color:green">#{{ingredients.ingredients__name}}</span>
                      {% endfor %}                           
                      {%for ingredients in recipe.ingredients_inactive%}
                        <span style="color:red"> #{{ingredients.ingredients__name}} </span>
                      {% endfor %}
                    </p>
                  </div>
                </div>
              {% endfor %}
              <hr>
              <nav aria-label="Page navigation" style="text-align: right;">
                <ul class="pagination">
                  {% if recipes.has_previous %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ recipes.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                  {% endif %}
                  <li class="page-item"><a class="page-link">Page {{ recipes.number }} of {{ recipes.paginator.num_pages }}.</a></li>
                  {% if recipes.has_next %}
                    <li class="page-item">
                      <a class="page-link" href="?page={{ recipes.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  {% endif %}
                </ul>
              </nav>
            </div>
            <div class="col-md-3">
              <div class="block">
                <h1 class=" wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms" style="color: #ff530a;">Suscríbete</h1>
                {%if aceptado %}
                  <div class="alert alert-success" role="alert">Agregado correctamente. Recibirá recetas periódicas</div>
                {%endif%}
                <form action="" method="post" id=""> {% csrf_token %}
                  <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
                      <input type="text" class="form-control" id="name_s" name="name_s" placeholder="Nombre y Apellido">
                  </div>
                  <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="800ms">
                      <input type="email" class="form-control" id="correo_s" name="correo_s" placeholder="Correo electrónico">
                  </div>
                  <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1000ms">
                      <textarea class="form-control" rows="3" id="mensaje_s" name="mensaje_s" placeholder="Mensaje"></textarea>
                  </div>
                </form>
                <button type="submit" class="btn btn-default pull-right" id="buscar">Suscribir</button>
              </div>
              
              <script type="text/javascript">
var ad_idzone = "2187087",
	 ad_width = "300",
	 ad_height = "600";
</script>
<script type="text/javascript" src="https://ads.exdynsrv.com/ads.js"></script>
<noscript><a href="http://main.exdynsrv.com/img-click.php?idzone=2187087" target="_blank"><img src="https://syndication.exdynsrv.com/ads-iframe-display.php?idzone=2187087&output=img&type=300x600" width="300" height="600"></a></noscript>
           
           
              <!-- Begin BidVertiser code -->
<SCRIPT SRC="http://bdv.bidvertiser.com/BidVertiser.dbm?pid=738178&bid=1825259" TYPE="text/javascript"></SCRIPT>
<!-- End BidVertiser code --> 
           
            </div>
          </div>
        {%else%}
          <div class="row" id="blog" style="">
            <div class="col-md-12 block">
              {%if notfound %}
                <div class="alert alert-success" role="alert">{{notfound}}</div>
                <div class="block">
                  <h1 class=" wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms" style="color: #ff530a;">Suscríbete</h1>
                  {%if aceptado %}
                    <div class="alert alert-success" role="alert">Agregado correctamente. Recibirá recetas periódicas</div>
                  {%endif%}
                  <form action="" method="post" id=""> {% csrf_token %}
                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
                        <input type="text" class="form-control" id="name_s" name="name_s" placeholder="Nombre y Apellido">
                    </div>
                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="800ms">
                        <input type="email" class="form-control" id="correo_s" name="correo_s" placeholder="Correo electrónico">
                    </div>
                    <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1000ms">
                        <textarea class="form-control" rows="3" id="mensaje_s" name="mensaje_s" placeholder="Mensaje"></textarea>
                    </div>
                  </form>
                  <button type="submit" class="btn btn-default pull-right" id="buscar">Suscribir</button>
                </div>
              {%endif%}
              <h1>Recetas sugeridas</h1>
              <ul>
                {% for i in recipes_home %}
                  <li class="wow fadeInLeft home-suggested" data-wow-duration="300ms" data-wow-delay="300ms">
                    <a href="/detalles/{{i.pk}}" style="color: #323232; font-size: 24px">
                      <div class="blog-img">
                        <div class="wrapper" >
                          <img src="{{i.imagen_principal}}" alt="blog-img">
                          <div class="ribbon-wrapper-green">
                          {% if i.light %}
                            <div class="ribbon-green">&nbsp;&nbsp; Bajas calorías</div>
                          {% endif %}
                          </div>    
                        </div>
                      </div>
                      <div class="content-right">
                        <h3>
                          {{i.name}}
                          <div class="below-name-ln"></div>
                        </h3>
                      </div>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        
          <div class="block row">
            <h1 class=" wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms" style="color: #ff530a;">Suscríbete</h1>
            {%if aceptado %}
              <div class="alert alert-success" role="alert">Agregado correctamente. Recibirá recetas periódicas</div>
            {%endif%}
            <form action="" method="post" id=""> {% csrf_token %}
              <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
                <input type="text" class="form-control" id="name_s" name="name_s" placeholder="Nombre y Apellido">
              </div>
              <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="800ms">
                <input type="email" class="form-control" id="correo_s" name="correo_s" placeholder="Correo electrónico">
              </div>
              <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1000ms">
                <textarea class="form-control" rows="3" id="mensaje_s" name="mensaje_s" placeholder="Mensaje"></textarea>
              </div>
            </form>
            <button type="submit" class="btn btn-default pull-right" id="buscar">Suscribir</button>
          </div>
        {% endif %}
      </div>
</section>
<div class="container">
    <div class="fb-comments" data-href="http://recitips.com/" data-width="900" data-numposts="5" style="text-align:center"></div>
</div>


{% endblock %}
