{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>ReciTips</title>
        <meta name="description" content="Busca en la unica pagina de recetas donde puede elegir los ingredientes que tendra tu receta. Las mejores recetas de comida, postres, tragos y diseños divertidos para niños y adultos" />
        <meta name="author" content="Teamus solutions" />
        <meta name="copyright" content="teamussolutions.com" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" itemprop="keywords" content=" recetas gratis, gastronomia, tips, comida, comidas, cocina, recetas, comida tradicional, comida tipica, cocina tipica, postres, tragos, venezuela, chile, colombia, peru, eeuu, ecuador, argentina, mexico, gratis" />
		<!-- CSS
        ================================================ -->
        <!-- Owl Carousel -->
		<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
        <!-- bootstrap.min css -->
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <!-- Font-awesome.min css -->
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <!-- Main Stylesheet -->
        <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">

		<link rel="stylesheet" href="{% static 'css/main.css' %}">
        <!-- Responsive Stylesheet -->
		<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
	
    
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
    <script>window.jQuery || document.write('<script src="{% static "js/vendor/jquery-1.10.2.min.js" %}"><\/script>')</script>
    <script src="{% static 'js/jquery.nav.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    
    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery UI CSS -->
    <link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" type="text/css" rel="stylesheet">
    <!-- Bootstrap styling for Typeahead 
    <link href="dist/css/tokenfield-typeahead.css" type="text/css" rel="stylesheet">-->
    <!-- Tokenfield CSS -->
    <link href="{% static 'lib/typeahead/dist/css/bootstrap-tokenfield.css' %}" type="text/css" rel="stylesheet">
    <!-- Docs CSS -->
    <link href="{% static 'lib/typeahead/docs-assets/css/pygments-manni.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'lib/typeahead/docs-assets/css/docs.css' %}" type="text/css" rel="stylesheet">
	</head>
	<body>
	<style>  
        #blog {
              background: none
            }  
        #blog .block ul li{
              background: #f7f7f7;
        }
        
        #blog .block ul li .content-left:after {
          background: #f7f7f7;
        }
        #blog .block ul li .content-right:after {
          background: #f7f7f7;
        }
        
                
.wrapper {
  height: 200px;
  background: white;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
  position: relative;
  z-index: 90;
    background-position: center; 
    background-repeat: no-repeat;
}

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: bold 9px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}
    </style>
	<!--
	header-img start 
	============================== -->
    <section id="hero-area" style="    height: 210px;
    background-image: url('{% static 'images/header.jpg' %}');">
    </section>
	<!--
    Header start 
	============================== -->
	<nav id="navigation">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <nav class="navbar navbar-default">
                          <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                              </button>
                                  <img src="{% static 'images/cangejo.png' %}" alt="">
                                   <h1 style="color: #333; margin-top: 0px;"> <a href="/recetas" style="font-size: 36px; color: #333"><span style="font-size: 45px; color: #ff530a; font-weight: 600;">Reci</span>Tips</a> </h1>
                                  

                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                              <ul class="nav navbar-nav navbar-right" id="top-nav">
                                <li><a href="/recetas">Inicio</a></li>
                                <li><a href="/tips">Tips</a></li>
                              </ul>
                            </div><!-- /.navbar-collapse -->
                          </div><!-- /.container-fluid -->
                        </nav>
                    </div>
                </div><!-- .col-md-12 close -->
            </div><!-- .row close -->
        </div><!-- .container close -->
	</nav><!-- header close -->
    <!--
    Slider start
    ============================== -->
                
              
    <section id="slider">
              
            <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <blockquote style="border-left: 5px solid #FF5333;">
                        <p>La única página de recetas que te da una opcion de comida en base a lo que tienes en tu despensa. </p>
                    </blockquote>
                     <script type="text/javascript">
                    var ad_idzone = "2187071",
                         ad_width = "728",
                         ad_height = "90";
                    </script>
                    <script type="text/javascript" src="https://ads.exdynsrv.com/ads.js"></script>
                    <noscript><a href="http://main.exdynsrv.com/img-click.php?idzone=2187071" target="_blank"><img src="https://syndication.exdynsrv.com/ads-iframe-display.php?idzone=2187071&output=img&type=728x90" width="728" height="90"></a></noscript>
                    
                </div>
            </div>
            <form action="" method="post" id="recetas"> {% csrf_token %}
            <div class="row">
                <div class="col-md-9">
                   
                    <div class="panel panel-default">
                      <div class="panel-heading">Buscador de recetas</div>
                      
                      
                      <div class="panel-body">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-3 control-label">Nombre de la receta</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" id="name"  name="name" placeholder="" value="{{form_name}}">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">ó Ingredientes de la receta</label>
                            <div class="col-sm-9">
                             <div class="form-group">
                                  <input type="text" class="form-control" id="tokenfield-1" name="ingredients" value="{{form_ingredients}}" placeholder="" />
                            </div>
                            </div>
                          </div>
                          
                          <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">País</label>
                            <div class="col-sm-9">
                              <select class="form-control" id="country" name="country">
                              <option value="">Seleccionar país</option>
                              {% for i in country%}
                              <option value="{{i.id}}" {%if i.id == form_country %} selected {% endif %} >{{i.name}} </option>
                              {% endfor %}
                            </select>
                            </div>
                          </div>                          
                           
                           <!--<div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Especialidades</label>
                            <div class="col-sm-9">
                              <select class="form-control" id="food" name="food">
                              <option value="">Seleccionar especialidad</option>
                              {% for i in food%}
                              <option value="{{i.id}}" {%if i.id == form_food %} selected {% endif %} >{{i.name}}</option>
                              {% endfor %}
                            </select>
                            </div>
                          </div> -->                          
                           
                           <div class="form-group">
                            <label for="inputPassword3" class="col-sm-3 control-label">Categoría</label>
                            <div class="col-sm-6">
                              <select class="form-control" id="category" name="category">
                              <option value="">Seleccionar categoría</option>
                              {% for i in category%}
                              <option value="{{i.id}}" {%if i.id == form_category %} selected {% endif %} >{{i.name}}</option>
                              {% endfor %}
                            </select>
                            </div>
                          </div>
                          
                          
                          <div class="form-group">
                            <div class="col-sm-3">
                              <div class="checkbox">
                                <label>
                                  <input type="checkbox" id="low" name="low" {%if form_low %} checked {% endif %}> Recetas bajas en calorias
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                              <button type="submit" class="btn btn-default pull-right" id="buscar">Buscar</button>
                            </div>
                          </div>
                      </div>
                    </div>
                </div><!-- .col-md-12 close -->  
                
                
                
                <div class="col-md-3 well container hidden-sm hidden-xs">
                    <h4>Top recetas</h4>
                    <div class="row">
                        <div class="col-lg-12">
                           <br>
                            <ul class="list-unstyled" style="line-height: 23px;">
                                {%for i in recipes_random %}
		                            <li><a href="/detalles/{{i.pk}}">{{i}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                                    
               
            </div><!-- .row close -->
                </form>
                
               
            
            
            
            
            {% if post %}
            <div class="row" id="recetas">{% csrf_token %}
               <div class="col-md-9">
               {%for recipe in recipes%}
                <div class="row">
                    <div class="col-md-4">
                        <a href="#">
                            <!--<img class="img-responsive" src="{{recipe.recipe_object.imagen_principal}}" alt="">-->
                            
                            <div class="wrapper" style="background-image: url('{{recipe.recipe_object.imagen_principal}}')">
                                           <div class="ribbon-wrapper-green">
                                        {% if recipe.recipe_object.light %}
                                           <div class="ribbon-green">&nbsp;&nbsp;  Bajas calorías</div>
                                        {% endif %}
                                           
                                           </div>
                                    </div>
                                    
                        </a>
                    </div>
                    
                    <div class="col-md-8">
                        <a href="/detalles/{{recipe.recipe_object.pk}}"><h3>{{recipe.recipe_object.name}}</h3></a>
                        <br>
                        <h4>
                        {% if recipe.recipe_object.tiempo %}
                        <i class="fa fa-clock-o" aria-hidden="true"></i> {{recipe.recipe_object.tiempo}} min 
                        {% endif %}
                        {% if recipe.recipe_object.porciones %}
                        <i class="fa fa-user" aria-hidden="true"></i> {{recipe.recipe_object.porciones}}
                        {% endif %}
                        
                        <i class="fa fa-cutlery" aria-hidden="true"></i> {{recipe.recipe_object.pais}}
                        {% if recipe.recipe_object.plato  %}  {{recipe.recipe_object.plato}}
                        {% endif %}
                        
                        </h4>
                        <!--<p>{% autoescape off %} {{recipe.recipe_object.content}} {% endautoescape %}</p>-->
                        <p>
                           {%for ingredients in recipe.ingredients_active%}
                            <span style="color:green">#{{ingredients.ingredients__name}}</span>
                            {% endfor %}                           
                            {%for ingredients in recipe.ingredients_inactive%}
                            <span style="color:red"> #{{ingredients.ingredients__name}} </span>
                            {% endfor %}
                        </p>
                    </div>
                </div>
                {% endfor %}
                <!-- /.row -->

                    <hr>
                </div>
                <div class="col-md-3">
                </div>
            </div>
            {%else%}
            <div class="row" id="blog" style="">
               
                <div class="col-md-12 block">
                    <h1>Recetas sugeridas</h1>
                     <ul>
                            {% for i in recipes_home %}
                            <li class="wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="300ms">
                                <div class="blog-img">
                                   <div class="wrapper" >
                                   <img src="{{i.imagen_principal}}" alt="blog-img">
                                   <div class="ribbon-wrapper-green">
                                   {% if i.light %}
                                    <div class="ribbon-green">&nbsp;&nbsp; Bajas calorías</div>
                                    {% endif %}
                                    </div>
                                    </div>
                                    
                                    <!--<div class="wrapper" style="background-image: url('{{i.imagen_principal}}')">
                                           <div class="ribbon-wrapper-green">
                                        {% if i.light %}
                                           <div class="ribbon-green">Bajas calorías</div>
                                        {% endif %}
                                           
                                           </div>
                                    </div>-->
                                </div>
                                
                                
                               
                                <div class="content-right">
                                    <h3><a href="/detalles/{{i.pk}}" style="color: #323232; font-size: 24px">{{i.name}} </a> </h3>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                </div>
            </div>
            
            {% endif %}
        </div><!-- .containe close -->
    </section><!-- slider close -->
    

  
  
    
   
    <!--
    CONTACT US  start
    ============================= 
    <section id="contact-us" style="background: #F6F6F6;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h1 class="heading wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">CONTÁCTANOS</h1>
                        <h3>&nbsp; </h3>
                        <form>
                            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Nombre y Apellido">
                            </div>
                            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="800ms">
                                <input type="text" class="form-control" placeholder="Correo electrónico">
                            </div>
                            <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1000ms">
                                <textarea class="form-control" rows="3" placeholder="Mensaje"></textarea>
                            </div>
                        </form>
                        <a class="btn btn-default wow bounceIn" data-wow-duration="500ms" data-wow-delay="1300ms" href="#" role="button">Enviar mensaje</a>
                    </div>
                </div><!-- .col-md-12 close -->
            </div><!-- .row close -->
        </div><!-- .container close -->
    </section><!-- #contact-us close -->
    <!--
    footer  start
    =============================
    <section id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block wow fadeInLeft"  data-wow-delay="200ms">
                        <h3>CONTACTO</h3>
                        <div class="info">
                             <div class="col-md-4">

                                  <h4><i class="fa fa-phone"></i> Telefone</h4>
                                  <p>(000) 123 456 78- (000) 123 4567 89</p>
                             </div>
                             <div class="col-md-4">

                                  <h4><i class="fa fa-map-marker"></i> Address</h4>
                                  <p>2046 Blue Spruce Lane Laurel Canada</p>
                            </div>
                            <div class="col-md-4">

                                  <h4><i class="fa fa-envelope"></i> E mail</h4>
                                  <p>rest@gmail.com - rest@mail.ru</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="block wow fadeInLeft"  data-wow-delay="1100ms">
                        <div class="social-media-link">
                            <h3>Siguenos en:</h3>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- .col-md-4 close -->
            </div><!-- .row close -->
        </div><!-- .containe close -->
    </section><!-- #footer close -->
    <!--
    footer-bottom  start
    ============================= -->
    <footer id="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="block">
                        <p>Copyright &copy; 2016 - Todos los derechos reservados <a href="http://www.teamussolutions.com">TemUs Solutions</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script type="text/javascript" src="{% static 'lib/typeahead/dist/bootstrap-tokenfield.js' %}" charset="UTF-8"></script>
    <script type="text/javascript" src="{% static 'lib/typeahead/docs-assets/js/scrollspy.js' %}" charset="UTF-8"></script>
    <script type="text/javascript" src="{% static 'lib/typeahead/docs-assets/js/affix.js' %}" charset="UTF-8"></script>
    <script type="text/javascript" src="{% static 'lib/typeahead/docs-assets/js/typeahead.bundle.min.js' %}" charset="UTF-8"></script>
    <script type="text/javascript" src="{% static 'lib/typeahead/docs-assets/js/docs.min.js' %}" charset="UTF-8"></script>
<script>
$( "#buscar" ).click(function() {
  $( "#recetas" ).css('display', '')
  $( "#blog" ).css('display', 'none')
});
var ingredients= []
{% for i in ingredients %}
    ingredients.push('{{i.name}}');
{% endfor %}

console.log(ingredients)
$('#tokenfield-1').tokenfield({
    autocomplete: {
      source: ingredients,
      delay: 100
    },
    showAutocompleteOnFocus: true,
    delimiter: [',',' ', '-', '_']
  });

    

</script>
  
	</body>
</html>