{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tokenfield for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery UI CSS -->
    <link href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" type="text/css" rel="stylesheet">
    <!-- Bootstrap styling for Typeahead 
    <link href="dist/css/tokenfield-typeahead.css" type="text/css" rel="stylesheet">-->
    <!-- Tokenfield CSS -->
    <link href="{% static 'lib/typeahead/dist/css/bootstrap-tokenfield.css' %}" type="text/css" rel="stylesheet">
    <!-- Docs CSS -->
    <link href="{% static 'lib/typeahead/docs-assets/css/pygments-manni.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'lib/typeahead/docs-assets/css/docs.css' %}" type="text/css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.2.0/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>

<div class="bs-example">
                <div class="form-group">
                  <input type="text" class="form-control" id="tokenfield-1" value="red,green,blue" placeholder="Type something and hit enter" />
                </div>
              </div>

    <div class="container bs-docs-container">
      <div class="row">



        

   

    <script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script type="text/javascript" src="{% static 'lib/typeahead/dist/bootstrap-tokenfield.js' %}" charset="UTF-8"></script>
    <script type="text/javascript" src="{% static 'lib/typeahead/docs-assets/js/scrollspy.js' %}" charset="UTF-8"></script>
    <script type="text/javascript" src="{% static 'lib/typeahead/docs-assets/js/affix.js' %}" charset="UTF-8"></script>
    <script type="text/javascript" src="{% static 'lib/typeahead/docs-assets/js/typeahead.bundle.min.js' %}" charset="UTF-8"></script>
    <script type="text/javascript" src="{% static 'lib/typeahead/docs-assets/js/docs.min.js' %}" charset="UTF-8"></script>


  </body>
</html>
