{% extends "layout.html" %}

{% block content %}
<section id="slider">
          
        <div class="container">
        <div class="row">
            <div class="col-md-12">
                   <h1><span style="font-size: 45px; color: #ff530a; font-weight: 600;">Nosotros</span></h1>
                    <p>Recitips, somos una página de recetas de diversos tipos. Tenemos recetas de tragos, ensaladas, salsas, guisos, postres, comidas divertidas y comidas bajas en calorías. </p>
                    <p>Somos la única pagina de recetas que te permite buscar recetas basada en los ingredientes que ya tiene en tu hogar. Esto te permite poder concinar divinos platos con aquellos ingredientes que estan por dañarse en tu nevera. </p>
                    <p>Recitips además cuenta con una sección de tips super utiles que comprenden desde comida salidable, hasta metodos para optimizar el tiempo de cocina.</p>

            </div>
        </div>

     

{% endblock %}
