{% extends "layout.html" %}

{% block content %}
<section id="slider">
          
        <div class="container">
        <div class="row">
            <div class="col-md-12">
                <blockquote style="border-left: 5px solid #FF5333;">
                    <p>La única página de recetas que te da una opcion de comida en base a lo que tienes en tu despensa. </p>
                </blockquote>
                 <!-- Begin BidVertiser code -->
<SCRIPT SRC="http://bdv.bidvertiser.com/BidVertiser.dbm?pid=738178&bid=1825015" TYPE="text/javascript"></SCRIPT>
<!-- End BidVertiser code --> 
            </div>
        </div>

          <div class="row" id="recetas">{% csrf_token %}
            <div class="col-md-9">
              {%for recipe in recipes%}
                <div class="row">
                  <div class="col-md-4">
                    <a href="/detalles/{{recipe.recipe_object.pk}}">
                      <div class="wrapper" style="background-image: url('{{recipe.recipe_object.imagen_principal}}')">
                        <div class="ribbon-wrapper-green">
                          {% if recipe.recipe_object.light %}
                            <div class="ribbon-green">&nbsp;&nbsp;  Bajas calorías</div>
                          {% endif %}
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-8">
                    <a href="/detalles/{{recipe.recipe_object.pk}}"><h3>{{recipe.recipe_object.name}}</h3></a>
                    <br>
                    <h4>
                      {% if recipe.recipe_object.tiempo %}
                        <i class="fa fa-clock-o" aria-hidden="true"></i> {{recipe.recipe_object.tiempo}} min 
                      {% endif %}
                      {% if recipe.recipe_object.porciones %}
                        <i class="fa fa-user" aria-hidden="true"></i> {{recipe.recipe_object.porciones}}
                      {% endif %}
                      <i class="fa fa-cutlery" aria-hidden="true"></i> {{recipe.recipe_object.pais}}
                      {% if recipe.recipe_object.plato  %}  {{recipe.recipe_object.plato}}
                      {% endif %}
                    </h4>
                    <p>
                      {%for ingredients in recipe.ingredients_active%}
                        <span style="color:green">#{{ingredients.ingredients__name}}</span>
                      {% endfor %}                           
                      {%for ingredients in recipe.ingredients_inactive%}
                        <span style="color:red"> #{{ingredients.ingredients__name}} </span>
                      {% endfor %}
                    </p>
                  </div>
                </div>
              {% endfor %}
              <hr>
              <nav aria-label="Page navigation" style="text-align: right;">
                <ul class="pagination">
                  {% if recipes.has_previous %}
                    <li class="page-item">
                      <a class="page-link" href="/type_recetas/{{ recipes.previous_page_number }}/{{type_name}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                      </a>
                    </li>
                  {% endif %}
                  <li class="page-item"><a class="page-link">Page {{ recipes.number }} of {{ recipes.paginator.num_pages }}.</a></li>
                  {% if recipes.has_next %}
                    <li class="page-item">
                      <a class="page-link" href="/type_recetas/{{ recipes.next_page_number }}/{{type_name}}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                      </a>
                    </li>
                  {% endif %}
                </ul>
              </nav>
            </div>
            <div class="col-md-3">
              <div class=" well ">
                <h4>Top recetas</h4>
                <div class="row">
                  <div class="col-lg-12">
                    <br>
                    <ul class="list-unstyled" style="line-height: 23px;">
                        {%for i in recipes_random %}
                          <li><a href="/detalles/{{i.pk}}">{{i}}</a></li>
                        {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
              
              <div class="block">
                <h1 class=" wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms" style="color: #ff530a;">Suscríbete</h1>
                {%if aceptado %}
                  <div class="alert alert-success" role="alert">Agregado correctamente. Recibirá recetas periódicas</div>
                {%endif%}
                <form action="" method="post" id=""> {% csrf_token %}
                  <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
                      <input type="text" class="form-control" id="name_s" name="name_s" placeholder="Nombre y Apellido">
                  </div>
                  <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="800ms">
                      <input type="email" class="form-control" id="correo_s" name="correo_s" placeholder="Correo electrónico">
                  </div>
                  <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1000ms">
                      <textarea class="form-control" rows="3" id="mensaje_s" name="mensaje_s" placeholder="Mensaje"></textarea>
                  </div>
                </form>
                <button type="submit" class="btn btn-default pull-right" id="buscar">Suscribir</button>
              </div>
              
              <script type="text/javascript">
var ad_idzone = "2187087",
	 ad_width = "300",
	 ad_height = "600";
</script>
<script type="text/javascript" src="https://ads.exdynsrv.com/ads.js"></script>
<noscript><a href="http://main.exdynsrv.com/img-click.php?idzone=2187087" target="_blank"><img src="https://syndication.exdynsrv.com/ads-iframe-display.php?idzone=2187087&output=img&type=300x600" width="300" height="600"></a></noscript>
           
            <!-- Begin BidVertiser code -->
<SCRIPT SRC="http://bdv.bidvertiser.com/BidVertiser.dbm?pid=738178&bid=1825259" TYPE="text/javascript"></SCRIPT>
<!-- End BidVertiser code --> 
           
            </div>
          </div>
      </div>
</section>
<div class="container">
    <div class="fb-comments" data-href="http://recitips.com/" data-width="900" data-numposts="5" style="text-align:center"></div>
</div>


{% endblock %}
