{% extends "layout.html" %}

{% load staticfiles %}

{% block content %}
                
              
    <section id="slider">
              
            <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <blockquote style="border-left: 5px solid #FF5333;">
                        <p>La única página de recetas que te da una opcion de comida en base a lo que tienes en tu despensa. </p>
                    </blockquote>
                </div>
            </div>
             <div class="row">
               
                <div class="col-md-9">
               {%for tip in tips%}
                <div class="row">
                    <div class="col-md-4">
                        <a href="#">
                            <!--<img class="img-responsive" src="{{recipe.recipe_object.imagen_principal}}" alt="">-->
                            
                            <div class="wrapper" style="background-image: url('{{tip.imagen}}')">
                                         
                                    </div>
                                    
                        </a>
                    </div>
                    
                    <div class="col-md-8">
                        <a href="/detalles_tips/{{tip.pk}}"><h3>{{tip.name}}</h3></a>
                        <br>
                        <!--<p>{% autoescape off %} {{recipe.recipe_object.content}} {% endautoescape %}</p>-->
                        <p>
                           {{tip.description}}
                        </p>
                    </div>
                </div>
                {% endfor %}
                <!-- /.row -->

                    <hr>
                </div>
                
                
                <div class="col-md-3 well container hidden-sm hidden-xs">
                    <h4>Top recetas</h4>
                    <div class="row">
                        <div class="col-lg-12">
                           <br>
                            <ul class="list-unstyled" style="line-height: 23px;">
                                {%for i in recipes_random %}
		                            <li><a href="/detalles/{{i.pk}}">{{i}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                                    
               
            </div><!-- .row close -->
                
 
  
            </div>
    </section><!-- slider close -->
    <div class="container">
    <div class="fb-comments" data-href="http://recitips.com/tips" data-width="900" data-numposts="5" style="text-align:center"></div>
</div>
    
{% endblock %}