/* var text-decoration */
@font-face {
  font-family: myfont;
  src: url(../fonts/ufonts.com_tw-cen-mt.ttf);
}
/*--
    Common Css
--*/
body {
  font-family: myfont;
  font-size: 14px;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  font-family: myfont;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 24px;
  font-weight: 500;
}
h3 {
  font-size: 20px;
  font-weight: 600;
}
p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0px;
  font-family: myfont;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a,
a:active,
a:focus,
a:active {
  text-decoration: none !important;
  font-size: 15px;
}
/*============== Mixins style start ================*/
.overlay-effect {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../images/overlay-pattern.png") #000000;
  opacity: 0.3;
}
/*--
    custom heading Start
--*/
.heading {
  text-align: center;
  font-weight: 500;
  color: #2E2E2E;
  padding: 40px 0px;
  position: relative;
}
.heading span {
  font-size: 45px;
  color: #ff530a;
  font-weight: 600;
}
.heading:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 140px;
  height: 1px;
  background: #C8C1B3;
  margin-left: -70px;
}
/*--
    custom heading Start
--*/
.title {
  color: #2E2E2E;
  text-transform: uppercase;
  padding: 30px 0px;
}
.title span {
  color: #FF5333;
}
.before-border {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 140px;
  height: 1px;
  background: #C8C1B3;
  margin-left: -70px;
}
/*--
    transition custom style
--*/
.transition {
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
/*============== Mixins style close ================*/
/*--
    header-img start Start
--*/
#hero-area {
  position: relative;
}
#hero-area:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../images/overlay-pattern.png") #000000;
  opacity: 0.3;
}
/*--
    nav Start
--*/
nav {
  z-index: 99999;
  width: 100%;
}
nav .block {
  margin-top: -85px;
  background: #fff;
  padding: 25px 40px;
  background: rgba(255, 255, 255, 0.95);
}
nav .block .navbar-default {
  border: none;
  border-radius: 0px;
  margin-bottom: 0;
  background: none;
}
nav .block .navbar-default .navbar-brand {
  padding-left: 0px;
}
nav .block .navbar-default .navbar-nav {
  padding-top: 10px;
}
nav .block .navbar-default .navbar-nav > li > a {
  color: #2E2E2E;
  padding: 10px 0px;
  margin: 0px 15px;
  font-size: 15px;
  text-transform: uppercase;
}
nav .block .navbar-default .navbar-nav > li > a:before {
  background-color: transparent;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  height: 2px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  width: 0;
}
nav .block .navbar-default .navbar-nav > li > a:hover:before {
  background-color: #e94c3d;
  content: "";
  width: 100%;
}
nav .block .navbar-default .navbar-nav > li.current > a {
  color: #2E2E2E;
  padding: 10px 0px;
  margin: 0px 15px;
}
nav .block .navbar-default .navbar-nav > li.current > a:before {
  background-color: transparent;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  height: 2px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  width: 100%;
  background-color: #e94c3d;
}
nav .block .navbar-default .navbar-nav > .active > a,
nav .block .navbar-default .navbar-nav > .active > a:focus,
nav .block .navbar-default .navbar-nav > .active > a:hover {
  background: none;
}
nav .block .navbar-default .navbar-nav > .active > a:before,
nav .block .navbar-default .navbar-nav > .active > a:focus:before,
nav .block .navbar-default .navbar-nav > .active > a:hover:before {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background: #FF5333;
}
/*--
    slider Start
--*/
#slider {
  padding: 50px 0px;
}
#slider .block {
  padding: 0px 40px;
}
#slider .block .title {
  padding: 0px ;
}
#slider .block .owl-carousel {
  padding-top: 30px;
  position: relative;
  text-align: center;
}
#slider .block .owl-carousel img {
  padding-right: 30px;
  border-radius: 2px;
  padding-bottom: 50px;
}
#slider .block .owl-carousel .owl-pagination .active {
  background: #FF5333;
}
#slider .block .owl-carousel .owl-pagination div {
  background: #DADADA;
  border-radius: 100%;
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  width: 10px;
}
#slider .block .owl-carousel .owl-buttons {
  position: absolute;
  right: 0;
  top: -40px;
  font-size: 40px;
  color: #AA9D84;
}
/*--
    about-us Start
--*/
#about-us {
  padding: 100px 0px;
  background: #F6F6F6;
}
#about-us .block {
  text-align: center;
}
#about-us .block p {
  color: #959595;
  font-size: 16px;
  line-height: 26px;
  padding: 40px 0px;
}
/*--
    blog Start
--*/
#blog {
  /*padding-top: 75px;*/
  padding-bottom: 100px;
  background: url("../images/blog/blog-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
#blog:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../images/overlay-pattern.png") #000000;
  opacity: 0.3;
}
#blog .block .heading {
  color: #fff;
}
#blog .block ul {
  padding-top: 40px;
}
#blog .block ul li {
  overflow: hidden;
  width: 50%;
  float: left;
  background: #fff;
  text-align: center;
  color: #959595;
  transform: 1s;
}
#blog .block ul li:hover img {
  transform: scale(1.2) rotate(10deg);
}
#blog .block ul li h3 {
  color: #323232;
  padding: 0px 40px 20px;
  line-height: 26px;
  position: relative;
}
/*#blog .block ul li h3:before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 90px;
  height: 1px;
  background: #CBC4B5;
  margin-left: -45px;
}*/
#blog .block ul li p {
  padding-top: 25px;
}
#blog .block ul li .blog-img {
  float: left;
  width: 50%;
  /*height: 100%;*/
  height: 200px;
  background: red;
  overflow: hidden;
}
#blog .block ul li .blog-img img {
  -webkit-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
}
#blog .block ul li .blog-img-2 {
  width: 50%;
  float: right;
  overflow: hidden;
}
#blog .block ul li .blog-img-2 img {
  -webkit-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
  width: 100%;
}
#blog .block ul li .content-right {
  padding: 40px 35px 23px;
  font-size: 16px;
  line-height: 26px;
  float: right;
  width: 50%;
  height: 100%;
  position: relative;
}
#blog .block ul li .content-right:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  background: #fff;
  transform: rotate(45deg);
  margin-left: -15px;
}
#blog .block ul li .content-left {
  padding: 40px 35px 23px;
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
  z-index: 999;
}
#blog .block ul li .content-left:after {
  content: "";
  position: absolute;
  right: -15px;
  top: 50%;
  width: 30px;
  height: 30px;
  margin-top: 0px;
  background: #fff;
  transform: rotate(45deg);
}
#blog .block .btn-more-info {
  float: right;
  padding: 28px 102.5px;
  border-radius: 0px;
  background: #ff530a;
  color: #fff;
  border: 1px solid transparent ;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
#blog .block .btn-more-info:hover {
  background: transparent;
  color: #ff530a;
  border: 1px solid #ff530a;
}
/*--
    price Start
--*/
#price {
  padding: 70px 0px;
}
#price .block > p {
  color: #9D9D9D;
  font-size: 16px;
  line-height: 26px;
  padding: 40px 133px 0;
  text-align: center;
}
#price .block .pricing-list {
  padding-top: 85px;
}
#price .block .pricing-list ul {
  padding: 0 0 30px;
  margin: 0;
}
#price .block .pricing-list ul li {
  padding: 21px 0px;
}
#price .block .pricing-list ul li .item .item-title {
  position: relative;
}
#price .block .pricing-list ul li .item .item-title h2 {
  display: inline-block;
  position: relative;
  z-index: 99;
  background: #fff;
}
#price .block .pricing-list ul li .item .item-title .border-bottom {
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  border: 1px dotted #C9C9C9;
  margin-top: 20px;
}
#price .block .pricing-list ul li .item .item-title span {
  float: right;
  color: #938463;
}
#price .block .pricing-list ul li .item p {
  padding: 12px 0 0px;
  color: #949494;
}
#price .block .pricing-list .btn {
  padding: 28px 105px;
  border-radius: 0px;
  background: none;
  color: #FF4F02;
  border: 1px solid #FF4F02;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
#price .block .pricing-list .btn:hover {
  background: #ff530a;
  color: #fff;
}
/*--
    subscribe Start
--*/
#subscribe {
  padding: 100px 0px;
  text-align: center;
  background: url("../images/subscribe-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
#subscribe:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../images/overlay-pattern.png") #000000;
  opacity: 0.3;
}
#subscribe .block h1.heading {
  color: #fff;
}
#subscribe .block p {
  padding: 25px 0px;
  color: #fff;
  font-size: 18px;
}
#subscribe .block form .form-control {
  width: 450px;
  background: #fff;
  opacity: 0.9;
  border: none;
  height: 65px;
  border-radius: 0px;
  font-size: 15px;
}
#subscribe .block form .input-group-addon {
  padding: 0px;
  border: none;
  background: none;
}
#subscribe .block form .input-group-addon button {
  width: 212px;
  height: 65px;
  border: none;
  border-radius: 0px;
  background: #7EC3BB;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
#subscribe .block form .input-group-addon button:hover {
  background: #69a8a1;
}
/*--
    contact-us Start
--*/
#contact-us {
  padding: 70px 0px;
}
#contact-us .block .title {
  padding: 20px 0;
}
#contact-us .block form {
  padding-bottom: 20px;
}
#contact-us .block form input {
  height: 48px;
  border-radius: 0px;
  box-shadow: none;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
#contact-us .block form input:focus {
  border: 1px solid #7EC3BB;
}
#contact-us .block form textarea {
  height: 140px;
  border-radius: 0px;
  box-shadow: none;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
#contact-us .block form textarea:focus {
  border: 1px solid #7EC3BB;
}
#contact-us .block a {
  background: #FF4F02;
  float: right;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 0px;
  border: 0px;
  width: 512px;
  height: 50px;
  padding-top: 15px;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
/*--
    footer Start
--*/
#footer {
  padding: 70px 0px;
}
#footer .block h3 {
  color: #2E2E2E;
  padding-bottom: 25px;
}
#footer .block h3 span {
  color: #FF4F02;
}
#footer .block .blog ul,
#footer .block .info ul,
#footer .block .gallary ul {
  padding-top: 20px;
}
#footer .block .blog ul li,
#footer .block .info ul li,
#footer .block .gallary ul li {
  margin-bottom: 25px;
  display: inline-block;
  margin-right: 20px;
}
#footer .block .blog ul li h4,
#footer .block .info ul li h4,
#footer .block .gallary ul li h4 {
  padding-bottom: 10px;
  display: block;
  color: #FF4F02;
}
#footer .block .blog ul li h4 i,
#footer .block .info ul li h4 i,
#footer .block .gallary ul li h4 i {
  color: #555;
  margin-right: 30px;
  font-size: 20px;
}
#footer .block .blog ul li h4 a,
#footer .block .info ul li h4 a,
#footer .block .gallary ul li h4 a {
  color: #FF4F02;
  font-size: 20px;
  font-weight: 600;
}
#footer .block .blog ul li p,
#footer .block .info ul li p,
#footer .block .gallary ul li p {
  color: #474747;
  font-size: 14px;
}
#footer .block .social-media-link h3 {
  font-size: 20px;
  padding-bottom: 15px;
  padding-top: 30px;
}
#footer .block .social-media-link h3 span {
  color: #FF4F02;
}
#footer .block .social-media-link ul li {
  display: inline-block;
  margin-right: 20px;
}
#footer .block .social-media-link ul li a {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  padding-top: 8px;
  border-radius: 100%;
  background: #B0B0B0;
  color: #FFFFFF;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}
#footer .block .social-media-link ul li a:hover {
  background: #FF4F02;
  color: #fff;
}
/*--
    footer-bottom Start
--*/
#footer-bottom {
  background: #E9E9E9;
  padding: 20px 0px;
}
#footer-bottom p {
  text-align: center;
  padding-top: 12px;
  color: #454545;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 2px;
}
#footer-bottom p a {
  color: #FF4F02;
}

/* INDEX STYLES MOVED HERE*/
#blog {
              background: none
            }  
#blog .block ul li{
      background: #f7f7f7;
    max-height: 200px;
}

#blog .block ul li .content-left:after {
  background: #f7f7f7;
}
#blog .block ul li .content-right:after {
  background: #f7f7f7;
}
        
                
.wrapper {
  height: 200px;
  background: white;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 8px rgba(0,0,0,0.3);
  position: relative;
  z-index: 90;
    background-position: center; 
    background-repeat: no-repeat;
}

.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-green {
  font: bold 9px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}
/* TOTEMPLATE CSS */
.form-group.form-md-line-input .form-control.edited:not([readonly])~label,
.form-group.form-md-line-input .form-control:focus:not([readonly])~label,
.form-group.form-md-line-input .form-control~.help-block-error,
.form-group.form-md-line-input .form-control~label,
.form-horizontal .form-group.form-md-line-input>label {
    opacity: 1;
    filter: alpha(opacity=100)
}

.form-group.form-md-line-input {
    position: relative;
    margin: 0;
    padding-top: 20px
}

.form-horizontal .form-group.form-md-line-input {
    padding-top: 10px;
    margin: 0 -15px 20px
}

.form-horizontal .form-group.form-md-line-input>label {
    padding-top: 5px;
    font-size: 14px;
    color: #888
}

.form-group.form-md-line-input .form-control {
    background: 0 0;
    border: 0;
    border-bottom: 1px solid #c2cad8;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    color: #555;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
    font-size: 14px
}

.form-group.form-md-line-input .form-control::-moz-placeholder {
    color: #999;
    opacity: 1
}

.form-group.form-md-line-input .form-control:-ms-input-placeholder {
    color: #999
}

.form-group.form-md-line-input .form-control::-webkit-input-placeholder {
    color: #999
}

.form-group.form-md-line-input .form-control.form-control-static {
    border-bottom: 0
}

.form-group.form-md-line-input .form-control.input-sm {
    font-size: 14px;
    padding: 6px 0
}

.form-group.form-md-line-input .form-control.input-lg {
    font-size: 20px;
    padding: 14px 0
}

.form-group.form-md-line-input .input-group,
.form-group.form-md-line-input .input-group+.input-group-control,
.form-group.form-md-line-input+.input-group,
.form-group.form-md-line-input+.input-icon,
.form-horizontal .form-group.form-md-line-input .input-group,
.form-horizontal .form-group.form-md-line-input .input-group>.input-group-control,
.form-inline .form-md-line-input {
    padding-top: 0
}

.form-group.form-md-line-input .form-control~.form-control-focus,
.form-group.form-md-line-input .form-control~label {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    pointer-events: none
}

.form-horizontal .form-group.form-md-line-input .form-control~.form-control-focus,
.form-horizontal .form-group.form-md-line-input .form-control~label {
    width: auto;
    left: 15px;
    right: 15px
}

.form-group.form-md-line-input .form-control~.form-control-focus:after,
.form-group.form-md-line-input .form-control~label:after {
    content: '';
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 50%;
    height: 2px;
    width: 0;
    visibility: hidden;
    transition: .2s ease all
}

.form-group.form-md-line-input .form-control~label {
    top: 0;
    margin-bottom: 0;
    font-size: 14px;
    color: #888
}

.form-group.form-md-line-input .form-control.edited:not([readonly])~.form-control-focus,
.form-group.form-md-line-input .form-control.edited:not([readonly])~label,
.form-group.form-md-line-input .form-control:focus:not([readonly])~.form-control-focus,
.form-group.form-md-line-input .form-control:focus:not([readonly])~label {
    color: #888
}

.form-group.form-md-line-input .form-control.edited:not([readonly])~.form-control-focus:after,
.form-group.form-md-line-input .form-control.edited:not([readonly])~label:after,
.form-group.form-md-line-input .form-control:focus:not([readonly])~.form-control-focus:after,
.form-group.form-md-line-input .form-control:focus:not([readonly])~label:after {
    visibility: visible;
    left: 0;
    width: 100%;
    background: #36c6d3
}

.form-group.form-md-line-input .form-control.edited:not([readonly])~.help-block,
.form-group.form-md-line-input .form-control:focus:not([readonly])~.help-block {
    color: #36c6d3;
    opacity: 1;
    filter: alpha(opacity=100)
}

.form-group.form-md-line-input .form-control.edited:not([readonly]):not(:focus)~.help-block,
.form-group.form-md-line-input .form-control.edited:not([readonly]):not(:focus)~.help-block-error,
.form-group.form-md-line-input .form-control.edited:not([readonly])~.help-block-error,
.form-group.form-md-line-input .form-control:focus:not([readonly])~.help-block-error {
    opacity: 0;
    filter: alpha(opacity=0)
}

.form-group.form-md-line-input .form-control[disabled],
.form-group.form-md-line-input .form-control[readonly],
fieldset[disabled] .form-group.form-md-line-input .form-control {
    background: 0 0;
    cursor: not-allowed;
    border-bottom: 1px dashed #c2cad8
}

.form-group.form-md-line-input.form-md-floating-label .form-control~label {
    font-size: 16px;
    top: 25px;
    transition: .2s ease all;
    color: #999
}

.form-group.form-md-line-input.form-md-floating-label .form-control.edited~label,
.form-group.form-md-line-input.form-md-floating-label .form-control.focus:not([readonly])~label,
.form-group.form-md-line-input.form-md-floating-label .form-control.form-control-static~label,
.form-group.form-md-line-input.form-md-floating-label .form-control:focus:not([readonly])~label,
.form-group.form-md-line-input.form-md-floating-label .form-control[readonly]~label {
    top: 0;
    font-size: 13px
}

.form-group.form-md-line-input.form-md-floating-label .form-control.input-sm~label {
    font-size: 14px;
    top: 24px
}

.form-group.form-md-line-input.form-md-floating-label .form-control.input-sm.edited~label,
.form-group.form-md-line-input.form-md-floating-label .form-control.input-sm.focus:not([readonly])~label,
.form-group.form-md-line-input.form-md-floating-label .form-control.input-sm.form-control-static~label,
.form-group.form-md-line-input.form-md-floating-label .form-control.input-sm:focus:not([readonly])~label,
.form-group.form-md-line-input.form-md-floating-label .form-control.input-sm[readonly]~label {
    top: 0;
    font-size: 13px
}

.form-group.form-md-line-input.form-md-floating-label .form-control.input-lg~label {
    font-size: 20px;
    top: 30px
}

.form-group.form-md-line-input.form-md-floating-label .form-control.input-lg.edited~label,
.form-group.form-md-line-input.form-md-floating-label .form-control.input-lg.focus:not([readonly])~label,
.form-group.form-md-line-input.form-md-floating-label .form-control.input-lg.form-control-static~label,
.form-group.form-md-line-input.form-md-floating-label .form-control.input-lg:focus:not([readonly])~label,
.form-group.form-md-line-input.form-md-floating-label .form-control.input-lg[readonly]~label {
    top: 0;
    font-size: 13px
}

.form-group.form-md-line-input.form-md-floating-label .input-icon>label {
    padding-left: 34px
}

.form-group.form-md-line-input.form-md-floating-label .input-icon.right>label {
    padding-left: 0;
    padding-right: 34px
}

.form-group.form-md-line-input.form-md-floating-label .input-group.left-addon label,
.form-group.form-md-line-input>.input-icon .form-control {
    padding-left: 34px
}

.form-group.form-md-line-input.form-md-floating-label .input-group.right-addon label {
    padding-right: 34px
}

.form-group.form-md-line-input .help-block {
    position: absolute;
    margin: 2px 0 0;
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 13px
}

.form-group.form-md-line-input>.input-icon>i {
    left: 0;
    bottom: 0;
    margin: 9px 2px 10px 10px;
    color: #888
}

.form-group.form-md-line-input.has-success .form-control.edited:not([readonly])~.help-block,
.form-group.form-md-line-input.has-success .form-control.edited:not([readonly])~i,
.form-group.form-md-line-input.has-success .form-control.edited:not([readonly])~label,
.form-group.form-md-line-input.has-success .form-control.focus:not([readonly])~.help-block,
.form-group.form-md-line-input.has-success .form-control.focus:not([readonly])~i,
.form-group.form-md-line-input.has-success .form-control.focus:not([readonly])~label,
.form-group.form-md-line-input.has-success .form-control.form-control-static~.help-block,
.form-group.form-md-line-input.has-success .form-control.form-control-static~i,
.form-group.form-md-line-input.has-success .form-control.form-control-static~label,
.form-group.form-md-line-input.has-success .form-control:focus:not([readonly])~.help-block,
.form-group.form-md-line-input.has-success .form-control:focus:not([readonly])~i,
.form-group.form-md-line-input.has-success .form-control:focus:not([readonly])~label,
.form-group.form-md-line-input.has-success label {
    color: #27a4b0
}

.form-group.form-md-line-input>.input-icon.input-icon-lg>i {
    top: 6px
}

.form-group.form-md-line-input>.input-icon.input-icon-sm>i {
    top: -1px
}

.form-group.form-md-line-input>.input-icon>label {
    margin-top: -20px
}

.form-group.form-md-line-input>.input-icon.right .form-control {
    padding-left: 0;
    padding-right: 34px
}

.form-group.form-md-line-input>.input-icon.right>i {
    left: auto;
    right: 8px;
    margin: 11px 2px 10px 10px
}

.form-horizontal .form-group.form-md-line-input .input-group>.form-control-focus,
.form-horizontal .form-group.form-md-line-input .input-group>.input-group-control>.form-control-focus,
.form-horizontal .form-group.form-md-line-input .input-icon>.form-control-focus {
    left: 0!important;
    right: 0!important
}

.form-group.form-md-line-input .input-group .input-group-control>label,
.form-group.form-md-line-input .input-group>label {
    margin-top: -20px
}

.form-group.form-md-line-input .input-group .input-group-addon {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    background: 0 0;
    border: 0;
    border-bottom: 1px solid #c2cad8
}

.form-group.form-md-line-input .input-group .input-group-control {
    padding-top: 0;
    position: relative;
    display: table-cell;
    vertical-align: bottom
}

.badge,
.input-inline {
    vertical-align: middle
}

.form-group.form-md-line-input .input-group .input-group-btn .btn {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px
}

.form-group.form-md-line-input .input-group .input-group-btn.btn-left .btn {
    margin-right: 10px
}

.form-group.form-md-line-input .input-group .input-group-btn.btn-right .btn {
    margin-left: 10px
}

.form-group.form-md-line-input .input-group .help-block {
    margin-top: 35px
}

.form-group.form-md-line-input .input-group.input-group-sm .help-block {
    margin-top: 30px
}

.form-group.form-md-line-input .input-group.input-group-lg .help-block {
    margin-top: 47px
}

.form-group.form-md-line-input.has-success .form-control {
    border-bottom: 1px solid #27a4b0
}

.form-group.form-md-line-input.has-success .form-control.edited:not([readonly])~.form-control-focus:after,
.form-group.form-md-line-input.has-success .form-control.edited:not([readonly])~label:after,
.form-group.form-md-line-input.has-success .form-control.focus:not([readonly])~.form-control-focus:after,
.form-group.form-md-line-input.has-success .form-control.focus:not([readonly])~label:after,
.form-group.form-md-line-input.has-success .form-control.form-control-static~.form-control-focus:after,
.form-group.form-md-line-input.has-success .form-control.form-control-static~label:after,
.form-group.form-md-line-input.has-success .form-control:focus:not([readonly])~.form-control-focus:after,
.form-group.form-md-line-input.has-success .form-control:focus:not([readonly])~label:after {
    background: #27a4b0
}

.form-group.form-md-line-input.has-success .input-group-addon {
    color: #27a4b0;
    border-bottom: 1px solid #27a4b0
}

.form-group.form-md-line-input.has-warning .form-control.edited:not([readonly])~.help-block,
.form-group.form-md-line-input.has-warning .form-control.edited:not([readonly])~i,
.form-group.form-md-line-input.has-warning .form-control.edited:not([readonly])~label,
.form-group.form-md-line-input.has-warning .form-control.focus:not([readonly])~.help-block,
.form-group.form-md-line-input.has-warning .form-control.focus:not([readonly])~i,
.form-group.form-md-line-input.has-warning .form-control.focus:not([readonly])~label,
.form-group.form-md-line-input.has-warning .form-control.form-control-static~.help-block,
.form-group.form-md-line-input.has-warning .form-control.form-control-static~i,
.form-group.form-md-line-input.has-warning .form-control.form-control-static~label,
.form-group.form-md-line-input.has-warning .form-control:focus:not([readonly])~.help-block,
.form-group.form-md-line-input.has-warning .form-control:focus:not([readonly])~i,
.form-group.form-md-line-input.has-warning .form-control:focus:not([readonly])~label,
.form-group.form-md-line-input.has-warning label {
    color: #c29d0b
}

.form-group.form-md-line-input.has-warning .form-control {
    border-bottom: 1px solid #c29d0b
}

.form-group.form-md-line-input.has-warning .form-control.edited:not([readonly])~.form-control-focus:after,
.form-group.form-md-line-input.has-warning .form-control.edited:not([readonly])~label:after,
.form-group.form-md-line-input.has-warning .form-control.focus:not([readonly])~.form-control-focus:after,
.form-group.form-md-line-input.has-warning .form-control.focus:not([readonly])~label:after,
.form-group.form-md-line-input.has-warning .form-control.form-control-static~.form-control-focus:after,
.form-group.form-md-line-input.has-warning .form-control.form-control-static~label:after,
.form-group.form-md-line-input.has-warning .form-control:focus:not([readonly])~.form-control-focus:after,
.form-group.form-md-line-input.has-warning .form-control:focus:not([readonly])~label:after {
    background: #c29d0b
}

.form-group.form-md-line-input.has-warning .input-group-addon {
    color: #c29d0b;
    border-bottom: 1px solid #c29d0b
}

.form-group.form-md-line-input.has-error .form-control.edited:not([readonly])~.help-block,
.form-group.form-md-line-input.has-error .form-control.edited:not([readonly])~i,
.form-group.form-md-line-input.has-error .form-control.edited:not([readonly])~label,
.form-group.form-md-line-input.has-error .form-control.focus:not([readonly])~.help-block,
.form-group.form-md-line-input.has-error .form-control.focus:not([readonly])~i,
.form-group.form-md-line-input.has-error .form-control.focus:not([readonly])~label,
.form-group.form-md-line-input.has-error .form-control.form-control-static~.help-block,
.form-group.form-md-line-input.has-error .form-control.form-control-static~i,
.form-group.form-md-line-input.has-error .form-control.form-control-static~label,
.form-group.form-md-line-input.has-error .form-control:focus:not([readonly])~.help-block,
.form-group.form-md-line-input.has-error .form-control:focus:not([readonly])~i,
.form-group.form-md-line-input.has-error .form-control:focus:not([readonly])~label,
.form-group.form-md-line-input.has-error label {
    color: #e73d4a
}

.form-group.form-md-line-input.has-error .form-control {
    border-bottom: 1px solid #e73d4a
}

.form-group.form-md-line-input.has-error .form-control.edited:not([readonly])~.form-control-focus:after,
.form-group.form-md-line-input.has-error .form-control.edited:not([readonly])~label:after,
.form-group.form-md-line-input.has-error .form-control.focus:not([readonly])~.form-control-focus:after,
.form-group.form-md-line-input.has-error .form-control.focus:not([readonly])~label:after,
.form-group.form-md-line-input.has-error .form-control.form-control-static~.form-control-focus:after,
.form-group.form-md-line-input.has-error .form-control.form-control-static~label:after,
.form-group.form-md-line-input.has-error .form-control:focus:not([readonly])~.form-control-focus:after,
.form-group.form-md-line-input.has-error .form-control:focus:not([readonly])~label:after {
    background: #e73d4a
}

.form-group.form-md-line-input.has-error .input-group-addon {
    color: #e73d4a;
    border-bottom: 1px solid #e73d4a
}

.form-group.form-md-line-input.has-info .form-control.edited:not([readonly])~.help-block,
.form-group.form-md-line-input.has-info .form-control.edited:not([readonly])~i,
.form-group.form-md-line-input.has-info .form-control.edited:not([readonly])~label,
.form-group.form-md-line-input.has-info .form-control.focus:not([readonly])~.help-block,
.form-group.form-md-line-input.has-info .form-control.focus:not([readonly])~i,
.form-group.form-md-line-input.has-info .form-control.focus:not([readonly])~label,
.form-group.form-md-line-input.has-info .form-control.form-control-static~.help-block,
.form-group.form-md-line-input.has-info .form-control.form-control-static~i,
.form-group.form-md-line-input.has-info .form-control.form-control-static~label,
.form-group.form-md-line-input.has-info .form-control:focus:not([readonly])~.help-block,
.form-group.form-md-line-input.has-info .form-control:focus:not([readonly])~i,
.form-group.form-md-line-input.has-info .form-control:focus:not([readonly])~label,
.form-group.form-md-line-input.has-info label {
    color: #327ad5
}

.form-group.form-md-line-input.has-info .form-control {
    border-bottom: 1px solid #327ad5
}

.form-group.form-md-line-input.has-info .form-control.edited:not([readonly])~.form-control-focus:after,
.form-group.form-md-line-input.has-info .form-control.edited:not([readonly])~label:after,
.form-group.form-md-line-input.has-info .form-control.focus:not([readonly])~.form-control-focus:after,
.form-group.form-md-line-input.has-info .form-control.focus:not([readonly])~label:after,
.form-group.form-md-line-input.has-info .form-control.form-control-static~.form-control-focus:after,
.form-group.form-md-line-input.has-info .form-control.form-control-static~label:after,
.form-group.form-md-line-input.has-info .form-control:focus:not([readonly])~.form-control-focus:after,
.form-group.form-md-line-input.has-info .form-control:focus:not([readonly])~label:after {
    background: #327ad5
}

.form-group.form-md-line-input.has-info .input-group-addon {
    color: #327ad5;
    border-bottom: 1px solid #327ad5
}

.form-inline .form-md-line-input {
    margin: 0 20px 0 0
}

.form-inline .form-md-line-input>.input-icon {
    padding: 0
}

.form-horizontal .form-group.form-md-line-input .input-icon .form-control {
    padding-left: 33px
}

.form-horizontal .form-group.form-md-line-input .input-icon>i {
    top: 0
}

.form-horizontal .form-group.form-md-line-input .input-icon.right .form-control {
    padding-left: 0;
    padding-right: 33px
}

.form-horizontal .form-group.form-md-line-input .input-group>.input-group-btn .btn {
    margin-bottom: 0!important
}

.box-procedimiento p {
    font-size: 20px
}
.box-procedimiento a {
    font-size: 20px
}

.box-procedimiento span {
    font-size: 20px
}

.box-procedimiento b {
    font-size: 20px
}
.box-procedimiento div {
    font-size: 20px
}
.box-procedimiento {
    font-size: 20px
}

.receta-subtitle, .titulo-simple{
    color: #ff530a;
    padding: 10px;
    font-size: 28px !important;
}
a {
  cursor: pointer !important;
}
.home-suggested {
  height: 200px;
}
#blog .block ul li.home-suggested .content-right{
  height: 200px;
  display: table;
  padding: 0 23px;
}
#blog .block ul li.home-suggested h3{
  height: 200px;
  display: table-cell;
  padding: 0 20px;
  vertical-align: middle;
  position: relative;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.below-name-ln {
  width: 90px;
  height: 1px;
  background-color: #CBC4B5;
  position: absolute;
  left: 50%;
  margin-left: -45px;
  margin-top: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#blog .block ul li.home-suggested:hover h3 {
  color: #ff530a;
}
#blog .block ul li.home-suggested:hover .below-name-ln {
  width: 130px;
  margin-left: -65px;
}